extends layout

block content
  script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyB9Stvt5r1OkWMx4W7-t2zx_BBWqS9Ivh0&sensor=false')
  script(type='text/javascript', src='javascripts/map.js')
  #map_canvas
  #hidden_map
  canvas#hidden_canvas(width=10, height=10)
