html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #00B7FF;
}

.object {
  height: 32px;
  width: 32px;
  position:absolute;
  z-index:201;
}

#bullet_canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:501;
}

.enemy {
  position:absolute;
}

#main_map {
  width:100%;
  height:100%;
}

#terrain_map {
  width:100px;
  height:100px;
  position:absolute;
  visibility:hidden;
  top: 300px;
}

#terrain_canvas {
  display:none;
  top: 300px;
}


.laser {
  position:absolute;
  display:block;
  z-index:200;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;

  -moz-transform-origin: top center;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;


}

#container {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.terrain {
  display:none;
}

